In [42]:
import numpy as np 
import pandas as pd
from wall import data

In [43]:
data = np.array(data).T
data[:2]

array([['Roof', 'PA', 'EY', 'Top', '-3810.426967167175',
        '15804.310691545565', '-122.08653650624561',
        '-549515.4108478783', '19877.305321804193',
        '-2039204.9010094474'],
       ['Roof', 'PA', 'EY', 'Bottom', '-3810.4269671674183',
        '15804.310691542862', '-122.08653650643586',
        '-549402.2355357398', '-15960.764038734616',
        '2710508.1169262845']], dtype='<U32')

In [44]:
data = list(filter(lambda row: row[3].lower() != 'top', data))
data[:3]

[array(['Roof', 'PA', 'EY', 'Bottom', '-3810.4269671674183',
        '15804.310691542862', '-122.08653650643586', '-549402.2355357398',
        '-15960.764038734616', '2710508.1169262845'], dtype='<U32'),
 array(['Roof', 'PD', 'EY', 'Bottom', '-7925.835351106397',
        '19730.099622941623', '53.83346510553132', '772209.5361257877',
        '-3691.1150826993985', '2966151.356253169'], dtype='<U32'),
 array(['St4', 'PA', 'EY', 'Bottom', '-8251.57223671287',
        '41637.617343441816', '-86.29642500713152', '-300654.97881902533',
        '-9618.479980287264', '13740463.300083032'], dtype='<U32')]

In [45]:
df = pd.DataFrame(data, columns=['Story', 'Pier', 'Output Case', 'Location', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6'])
df.head()

,Story,Pier,Output Case,Location,V1,V2,V3,V4,V5,V6
0,Roof,PA,EY,Bottom,-3810.4269671674183,15804.310691542862,-122.08653650643586,-549402.2355357398,-15960.764038734616,2710508.1169262845
1,Roof,PD,EY,Bottom,-7925.835351106397,19730.099622941623,53.83346510553132,772209.5361257877,-3691.1150826993985,2966151.356253169
2,St4,PA,EY,Bottom,-8251.57223671287,41637.617343441816,-86.29642500713152,-300654.97881902533,-9618.479980287264,13740463.300083032
3,St4,PD,EY,Bottom,-13733.551492014802,46363.99835570217,-132.72684725954545,482168.0075463219,-13443.767737050332,15145310.845355691
4,St3,PA,EY,Bottom,-12524.321619605606,57608.35367622349,-117.52641118085953,-383149.5888921187,-10763.425355175874,29970573.18344831

In [46]:
new_df = df.drop(['V1', 'V4', 'V5', 'V6'], axis=1)
new_df.head()

  Story Pier Output Case Location                  V2                   V3
0  Roof   PA          EY   Bottom  15804.310691542862  -122.08653650643586
1  Roof   PD          EY   Bottom  19730.099622941623    53.83346510553132
2   St4   PA          EY   Bottom  41637.617343441816   -86.29642500713152
3   St4   PD          EY   Bottom   46363.99835570217  -132.72684725954545
4   St3   PA          EY   Bottom   57608.35367622349  -117.52641118085953

In [47]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Story        10 non-null     object
 1   Pier         10 non-null     object
 2   Output Case  10 non-null     object
 3   Location     10 non-null     object
 4   V2           10 non-null     object
 5   V3           10 non-null     object
dtypes: object(6)
memory usage: 608.0+ bytes

In [48]:
df2 = new_df.astype({'Story': 'string', 'Pier': 'string', 'Output Case': 'string', 'Location': 'string', 'V2': 'float64', 'V3': 'float64'})
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Story        10 non-null     string
 1   Pier         10 non-null     string
 2   Output Case  10 non-null     string
 3   Location     10 non-null     string
 4   V2           10 non-null     float64
 5   V3           10 non-null     float64
dtypes: float64(2), string(4)
memory usage: 608.0 bytes

In [49]:
df2.head()

  Story Pier Output Case Location            V2          V3
0  Roof   PA          EY   Bottom  15804.310692 -122.086537
1  Roof   PD          EY   Bottom  19730.099623   53.833465
2   St4   PA          EY   Bottom  41637.617343  -86.296425
3   St4   PD          EY   Bottom  46363.998356 -132.726847
4   St3   PA          EY   Bottom  57608.353676 -117.526411

In [50]:
df2['V2'] = df2['V2']/1000
df2['V3'] = df2['V3']/1000
df2.head()

  Story Pier Output Case Location         V2        V3
0  Roof   PA          EY   Bottom  15.804311 -0.122087
1  Roof   PD          EY   Bottom  19.730100  0.053833
2   St4   PA          EY   Bottom  41.637617 -0.086296
3   St4   PD          EY   Bottom  46.363998 -0.132727
4   St3   PA          EY   Bottom  57.608354 -0.117526

In [51]:
df2.to_excel('appr_wall.xlsx')